<!DOCTYPE html>
<html>
    <head>
        <title>Lista no ordenada</title>
    </head>
    <h1>{{encabezado}}</h1>
    {% for d in docs %}
        <div>{{d.nombre}}</div>
    {% endfor %}

	<li>el mas alto nivel</li>
    <body>
    <p> esto esta definido en base.html</p>
    <ul>
                <li>pasear</li>
                <li>comer</li>
                <li>jugar CR</li>
                <li>ver Netflix</li>
		<li>ver mis youtubers favoritos (Elrubiusomg, Fernanfloo)</li>
            </ul>
    </body>
</html>
